<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport position="start"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

      <mat-toolbar>
        <img src="./../../../../assets/images/hospital-small.jpg" alt="hospital-image">
      </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard/doctors" routerLinkActive="isActive">Doctors</a>
      <a mat-list-item routerLink="/dashboard/patients" routerLinkActive="isActive">Patients</a>
      <a mat-list-item routerLink="/dashboard/specialties" routerLinkActive="isActive">Specialties</a>
      <a mat-list-item routerLink="/dashboard/visit-notes" routerLinkActive="isActive">Visit Notes</a>
      <a class="back" mat-list-item routerLink="/home" routerLinkActive="isActive">Back to main</a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>HOSPITAL ADMINISTRATION</span>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>
